
.my__data {
    display: flex;
    align-items: center;
}

.info{
    padding-left: 40px;
    font-size: 20px;
}
.info div{
color: black;
    font-weight: 700;

}


.info span{
  color: rgba(2, 0, 0, 0.8);
    font-weight: 500;
}


.avatar {
    overflow: hidden;
width: 250px;
    height: 250px;
    border-radius: 50%;
}

.avatar img {

    width: 250px;

}
