

.my__post {
    padding: 50px 0;
}
.newPostTitle{
    font-weight: 700;
    letter-spacing: 10px;
    text-shadow: 1px 1px 3px #5d5d5d;
    font-family: Cinzel;
}
.newPost {
    color: #202128;
    display: flex;
    align-items: center;
}

.button {
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #3b626f;
    color: white;
    border: none;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    font-family: Cinzel;
}
.button:active{
    box-shadow: none;
}
.button:hover{
    background-color: #487686;
}





.inputArea {
    padding: 10px;
    width: 900px;
    height: 40px;
    resize: none;
    border-radius: 10px;
    border: none;

    font-size: 14px;

    background-color: #464646;
    color: white;

}