.header {
    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');

    grid-area: h;
    background: linear-gradient(90deg, rgba(13,12,12,1) 0%, rgba(70,70,70,1) 20%, rgba(70,70,70,1) 70%, rgba(199,199,199,1) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

    color: gold;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: 'Cinzel', serif;
}
.header img {
    max-width: 56px;
}

/*.header div:hover {*/
/*    color: red;*/
/*    transition-duration: 1000ms;*/
/*    cursor: pointer;*/
/*}*/
header a{
    color: #464646;
    text-decoration: none;
    text-shadow: 1px 1px 10px  yellow;
}