
.ditch{
    font-size: 200px;
}

.posts {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(135deg, #171616 20%, #C7C7C7 70%);
    border-image-slice: 1;

}

.avatar img {
    max-width: 60px;
    border-radius: 30px;
}
.avatar{
    margin-left: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.userName{
    font-weight: 700;
    font-size: 16px;
    color: #202128;
    font-family: Cinzel;
}

.text {
    font-size: 20px;
    background: linear-gradient(135deg, #0b0004 30%, #464646 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 5px;
    margin: 0 10px;

}