body{
    background-color: rgb(70, 70, 70);
}
.app-wrapper {
    max-width: 1450px;
    margin: 0 auto;

    display: grid;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    grid-template-areas:"h h"
                        "n p";
}

.app-wrapper-content{

    grid-area: p;
    background-color: #c7c7c7;
    border-radius: 10px;
    padding: 50px;


}

