@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-size: 20px;
}

.dialogsItems {
}

.dialogsItems .active {
    color: black;
    text-shadow: 0px 0px 3px gold;
    text-decoration: underline;
}

.dialog {
    padding: 15px 0;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.dialog a{
    text-decoration: none;
    color: #434445;
    font-weight: bold;
}
.avatar{
    width: 40px;
    height: 40px;
    background-color: #434445;
    border-radius: 20px;
    margin-right: 10px;
    color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages {
}

.message {
    padding: 22px 0;
    font-weight: 400;

}